body{
	width: 100%;
	background: linear-gradient(135deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
	overflow-x:hidden;
}
html{
	height: 100%;
}

header{
	position: relative;
	left:1%;
	width: 98%;
	min-height:92px;
	max-height:92px;
	background-color: #1A3661;
	border-radius: 25px 25px 0px 0px;
	border: 0px solid #000000;
}

header #logo{
	position: relative;
	top: 0.5em;
	left: 5%;
	float: left;
	width: 80px;
	height: 80px;
}

header h1{
	position: relative;
	left: 6%;
	top: 0.5em;
	color: white;
	font-size: 28px;
}
header>nav{
	position: absolute;
	left: 40%;
	top:25%;
}

header>nav h6{
    color: white;
	font-size: 0.9em;
	word-spacing: 0.6em;
	margin: 1px;
}


header #search_icon{
	position: relative;
	top: 0.5em;
	padding: 1px;
}

header #cart{
	position: absolute;
	float: right;
	top:0.5em;
	right: 5%;
 	width: 100px;
	height: 80px;
}

#menu{
	position: relative;
	left:1%;
	width: 98%;
	color:white;
	word-spacing: 2em;
	background-color: #B20800;
	border-radius: 0px 0px 10px 10px;
	text-align: center;
	font-size: 1.25em;
	text-shadow: 0.1em 0.1em black;
}

#container{
	padding-top: 5px;
	position: relative;
	left: 2%;
	height: 80%;
	width: 96%;
	top: 1%;
	background-color: white;
	border-radius: 20px 150px 20px 150px;
	box-shadow: 10px 10px 19px 4px rgba(0,0,0,0.75);
}

#login{
	position: absolute;
	top: 45%;
	left: 90%;
	font-size: 0.7em;
	font-weight: bolder;
	background: #1A3661;
	border-top: 3px solid #B20800;
	border-bottom: 3px solid #B20800;
	color: white;
	width: 8%;
	text-align: center;
}

ul , li{
	list-style-type: none;
	display: inline;
	word-spacing: 20px;
	text-align: center;
	background-color: #B20800;

}
