html {
	font: 1em SofiaRegular, Arial, Sans-serif;
	padding-top: 100px;
}

body {
	margin: 0;
}

a, a:visited, a:link, a:active {
	text-decoration: none;
	color: white;
}

p {
	margin: 0px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/* -----------HEADER----------- */

.container-header {
	/*border: 1px solid red;*/
	margin: 0% 5% 0% 5%;
	padding: 0px 20px 0px 20px;
	position: relative;
}

#main-header {
	/*border: 1px solid green;*/
	width: 100%;
	padding: 10px 0px 10px 0px;
	/*background-color: rgba(31, 31, 31, 0.95);*/
	background-color: #9c0105;
	position: fixed;
	top: 0;
	z-index: 1;
	color: white;
	
}

.logo {
	/*border: 1px solid pink;*/
	display: inline-block;
	width: 100%;
	height: 36px;
	margin: 0px;
	text-align: center;
	font-size: 2em;
}

.main-nav {
	/*border: 1px solid pink;*/
	display: inline-block;
	padding: 8.5px 30px;
	background-color: #FF4800;
	cursor: pointer;
	border-radius: 5px;
	position: absolute;
	top: 0px;
}

.main-menu {
	/* border: 1px solid blue; */
	width: 100%;
	position: relative;
	top: 15px;
	margin: 0px;
	text-align: center;
}

.menu {
	/* border: 1px solid blue; */
	padding: 4px 0px;
	display: inline-block;
	
}

.menu-item {
	/*border: 1px solid pink;*/
	display: inline-block;
	padding: 4px 4px;

}

.menu-item:hover {
	background-color: white;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;

}

.menu-item:hover > a {
	color: #9C0105;
	border-bottom: 1px solid #9C0105;
}

.menu li{
	position: relative;
}

.menu li:hover > ul{
	position: absolute;
	display: block;
	left: 0;
}

.sub-menu{
	color: black;
	display: none;
	background-color: white;
	padding: 10px 10px;
	box-shadow: 5px 5px 5px #888;
}

.sub-menu a {
	color: black;
}

.submenu-item{
	max-height: 100px;
	min-width: 300px;
	text-align: left;
}

#search-area {
	/*border: 1px solid black;*/
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 20px;
	width: 30%;
}

.search-box {
	/*border: 1px solid blue;*/
	position: relative;
	top: 2.5px;
	
}

#input-search-text {
	/*border: 1px solid black;*/
	border: none;
	width: 80%;
	height: 30px;
	padding: 0px 5px;
	font-size: 1em;
	color: black;
	background-color: white;
}

#input-search-submit {
	/*border: 1px solid orange;*/
	border: none;
	height: 30px;
	margin: 0px;
	font-size: 1em;
	padding: 0px 5px;
	cursor: pointer;
	color: white;
	background-color: #7F7570;
}

.search-icon {
	/*border: 1px solid white;*/
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: top;
	text-indent: -999999px;
	cursor: pointer;
	border-radius: 5px;
	background: url('../images/icons/search-icon-white.png') no-repeat center center;
	background-size: 20px 20px;
	background-color: #FF4D07;
}

.login-or-register {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 120px;

}

.login-or-register span{
	display: block;

}

.login-or-register a {
	font-size: 0.8em;
	margin-right: 5px;
}

.login-or-register a:hover {
	text-decoration: underline;
}

.shopping-cart {
	/*border: 1px solid purple;*/
	display: inline-block;
	height: 35px;
	width: 100px;
	position: absolute;
	right: 20px;
	top: 0px;
	text-indent: -999999px;
	cursor: pointer;
	background: url('../images/icons/shopping-cart1-white.png') no-repeat center center;
	background-size: 70px 60px;
}

.cart .qtCart {
	background: #fff;
	padding: 4px;
	border-radius: 50px;
	min-width: 12px;
	display: inline-block;
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 10px;
	position: absolute;
	top: 15px;
	right: 30px;
}

.shopping-cart:hover {
	background: url('../images/icons/shopping-cart1-white.png') no-repeat center center;
	background-size: 70px 60px;
}


/* -----------CARROUSEL (TEXTOS FORMATADOS)----------- */
.product-name-carrousel{
	font-size: 180%;
	color: #000000;
	font-weight: bold;

}

.short-description{
	font-size: 90%;
	font-weight: bolder;
	color:#708090;
}

.price-from{
	text-decoration: line-through;
}

.price-for{
	color:#120a8f;
	font-size: 200%;
}


/* -----------BODY----------- */

.container {
	/*border: 1px solid red;*/
	margin: 0% 5% 0% 5%;
	padding: 0px 20px 0px 20px;
	position: relative;
	background-color: white;
}

.container>section a {
	color: black;
}

.container>section a:hover {
	color: #FF4D07;
	text-decoration: underline;
}

.featured-products {
	width: 100%;
	height: 450px;
	margin-top: 20px;
}

.featured-products article{
	float: right;
	position: relative;
	margin-right: 15%;
	margin-top: 5%;
	color: #000000;
}

.top-sellers-product {
	margin-top: 20px;

}

.top-sellers-product:last-child {
	margin-bottom: 20px;

}

.top-sellers-product h3{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
}

.top-sellers-product ul {
	text-align: center; 
}

.top-sellers-product li {
	display: inline-block;
	margin-right: 20px; 
}

.top-sellers-product li:last-child {
	display: inline-block;
	margin-right: 0px; 
}

.product-main-image {
	height: 250px;
	width: 250px;
}

.product-information {
	text-align: left;
	font-size: 0.9em;
}

.product-name {
	color: #000000;
}

.product-price-box {

}

.price {
	text-decoration: line-through;
}

.price-sale {
	color: #FF4800;
}

.installment{

}
/* -----------FOOTER----------- */
.container-footer {
	/*border: 1px solid red;*/
	margin: 0% 5% 0% 5%;
	padding: 0px 20px 0px 20px;
	position: relative;
}

#main-footer {
	/*border: 1px solid black;*/
	padding: 10px 0px;
	/* background-color: rgba(31, 31, 31, 0.95); */
	background-color: white;
	text-align: center;
	color: white;
	border-top: 2px solid #e8e8e8;
}

#footer-nav {
	display: block;
}

#footer-nav li{
	display: inline-block;
	margin: 10px;
}

#footer-nav li a {
	color: #7F7570;
}

#footer-nav li a:hover {
	color: #7F7570;
}

.footer-address {
	display: inline-block;
	padding: 5px 0px;
	font-size: 0.8em;
	color: #7F7570;
}

div.simpleTabs { 
	width: 100%;
	height: 100%;
	padding:10px; 
}

div.simpleTabs a { 
	font-weight: bold;
	color:#fff; 
}

ul.simpleTabsNavigation { 
	width: 100%;
	padding:0; 
	text-align:left; 
}

ul.simpleTabsNavigation li a { 
	font-size:14px; 
	text-decoration:none; 
}

.tab {
	text-align: center;
	width: 497px;
	margin-left: 1px;
	border:1px solid #E0E0E0; 
	background:#fff; 
	display: inline-block;
	height: 160px;
}

.tab img {
	text-align: center;
	padding: 5px;
	clear: both;
}

div.simpleTabsContent { 
	border:1px solid #E0E0E0; 
	padding: 20px;
	width: 962px; 
	margin-top:3px; 
	display:none; 
}

.selectPayment {
	cursor: pointer;
	padding: 8px;
	height: 30px;
	width: 150px;
	background-color: #D20808;
	border-color: #CBCBCB;
	border-style: solid;
	border-width: 1px;
}

.selectPayment:hover {
	background-color: #FF4747;
}

/* -----------PRODUCT DETAILS----------- */
.container > .details {
	display: inline-block;
	position: absolute;
	top: 30px;	
	left: 50%;
	height: 400px;
}

.container > img {
	display: inline-block;
	position: relative;
	top: 30px;
	width: 400px;
	height: 400px;
	
}

.installments {
	
	margin-top: 10px;
}

ul.installments {
	height: 80px;
	margin-top: 10px;
}

ul.installments li{

}

.cartItems {
	border-collapse:collapse;
	width: 1024px;
}

.cartItem, th, td {
	font-size: 0.75em;
	width: 1024px;
	border-bottom: 1px solid #BBBBBB;
}

.cartItems {
	color: #373737;
}

.topBox {
	font-size: 1.4em;
	background: #BBBBBB;	
}

.cartItemInput {
	font-size:1em;
	background: none;
    border: none;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px 0 5px 0;
}

.cartItemInput:hover {
    color: #353535;
}

.input a:hover {
    color: #353535;
}

.cartTableTitles {
	height: 28px;
}

.quantityInput {
	float:left;
}

.input {
	text-align: center;
}

.gridProducts {
	height: 80px;
}

.input a {
	font-size:1em;
	background: none;
    border: none;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

.quantityInput {
	margin-top: 10px;
	width: 30px;
}

.cartTotal {
	font-size:1.2em;
	background: #DADADA;	
	color: #6C6C6C;
	height: 35px;
	text-align: right;	
}

.cartTotal td {
	padding-right: 5px;
}

.totalAmount {
	font-size:1.4em;
	color: #FFFFFF;
	background: #484848;	
	height: 50px;
	text-align: right;	
}

.valores {
	text-align: right;
	padding-right: 5px;
}

.entrega {
	text-align: center;
}

.product {
	text-align: left;
}

.inpPostCd {
	background: #E7E7E7;
	color: #4F4F4F;
	border: 0;
}

.input-freight {
	border: 0;
}

.freight-calcule {
	padding-left: 13px;
}

#postalCodeID1 {
	width:50px;	
}

#postalCodeID2 {
	width:35px;	
	margin-right: 5px;
}

.freightBox {
	margin-bottom: 20px;
}

#content-container {
	padding: 5px;
	width: 1024px;
	margin: 0 auto;
}

#content-container p {
	padding-top: 15px;
}

.calculateFreight {
	cursor: pointer;
	background-color: #ffffff;
	border-color: #B5B5B5;
	border-style: solid;
	border-width: 1px;
	color: #3C3C3C;
}

.calculateFreight:hover {
	color: #000;
	background-color: #F4F4F4;
}

.shipping-address {
	color: #5A5A5A;
	font-size: 0.9em;
	padding: 15px;
	height: 100px;
	width: 480px;
	border-style: solid;
	border-width: 1px;
	border-color: #D2D2D2;
}

.payment-data {
	color: #5A5A5A;
	font-size: 0.9em;
	padding: 15px;
	width: 450px;
	height: 100px;
	border-style: solid;
	border-color: #D2D2D2;
	border-width: 1px;
}

.box1 {
	width: 100%;
	margin-bottom: 25px;
}

.box1 a {
	color: #404040;
}

.sub-box1 {
	width:49%;
	height: 180px;
	float: right;
}

.payment-subtitle {	
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 1.3em;
	color: #404040;
}

.space {
	margin-bottom: 15px;
	clear: both;
	width: 100%;
}

.payment-options {
	margin-bottom: 25px;
	clear: both;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #D2D2D2;
}

.payment-font, .title-font {
	color: #404040;
}

.payment-options {	
	padding: 5px;
	margin-top: 5px;
}

.right-values {
	float: right;
}

.total-order-price {
	position: relative;
	top: 5px;
	font-size: 1em;
	font-weight: bold;
	color: #E61616;
}


.editAddressShipping {
	cursor: pointer;
	padding: 5px;
	height: 30px;
	width: 150px;
	position: relative;
	top: 45px;
	background-color: #E7E7E7;
	border-color: #CBCBCB;
	border-style: solid;
	border-width: 1px;
}

.editAddressShipping:hover {
	background-color: #D5D5D5;
}

.parcelamentos {
	padding: 15px;
}

.container {
	margin-left: 0px;
	width: 1024px;
	padding:20px;
	margin-bottom: 50px;
	border-style: solid;
	border-color: #D2D2D2;
	border-width: 1px;
}

.form {
	width: 1024px;
	display: inline-block;
}

.formNew td {
	color: #6C6C6C;
	font-size: 1.1em;
	border-width: 0px;
}

.formNew input {
	color: #6C6C6C;
	font-weight: bold;
	font-size: 0.9em;
	width: 300px;
}

.form td {
	color: #6C6C6C;
	font-size: 1.1em;
	border-width: 0px;
}

.form input {
	color: #6C6C6C;
	font-weight: bold;
	font-size: 0.9em;
	width: 450px;
}

.editAddressButton {
	margin-top: 20px;
	font-size: 0.9em;
	cursor: pointer;
	background-color: #ffffff;
	border-color: #B5B5B5;
	border-style: solid;
	border-width: 1px;
	color: #3C3C3C;
}

.editAddressButton:hover {
	color: #000;
	background-color: #F4F4F4;
}

.voltar, .edit, .exclude {
	color: #404040;
	font-weight: bold;
}

.container a, .containerNewAddress a {
	color: #404040;
	text-decoration: underline;
	
}

.container a:hover, .containerNewAddress a:hover {
	color: #676767;
}

.label-input {
	width: 180px;
}

.shippingAddressList {
	display: table-cell;
	width: 480px;
	padding:43px;;
	margin-bottom: 50px;
}

.containerNewAddress, .containerEditCustomer, .containerLogin {
	display: table-cell;
	margin-left: 0px;
	margin-right: 20á¹•x;
	width: 457px;
	padding:20px;;
	margin-bottom: 50px;
	border-style: solid;
	border-color: #D2D2D2;
	border-width:0 1px 0 0;
}

.addressForm {
	width: 1024px;
	margin-bottom:50px;;
}

.shippingAddressListUnit {
	color: #5A5A5A;
	font-size: 0.9em;
	padding: 15px;
	margin-bottom: 15px;
	height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #D2D2D2;
}

.managedAddress a {
	color: #404040;
	font-weight: bold;
	text-decoration: underline;
}

.selectAddress {
	cursor: pointer;
	padding: 5px;
	height: 20px;
	width: 150px;
	background-color: #D20808;
	border-color: #CBCBCB;
	border-style: solid;
	border-width: 1px;
}

.selectAddress:hover {
	background-color: #FF4747;
}

.managedAddress a {
	color: #404040;
	font-weight: bold;
	text-decoration: underline;
}

.managedAddress a:hover {
	color: #676767;
}

.login {
	height: 500px;
	width: 100%;
}

#customerDetails {
	margin-left: 0px;
	min-height: 500px;;
	width: 1024px;
	padding:20px;
	margin-bottom: 50px;
	border-style: solid;
	border-color: #D2D2D2;
	border-width: 1px;
}

.formLogin td {
	width: 200px;
	color: #6C6C6C;
	font-size: 1em;
	border-width: 0px;
}

.formNew input {
	color: #6C6C6C;
	font-weight: bold;
	font-size: 0.9em;
	width: 250px;
}

.loginButton {
	padding: 5px 10px 5px 10px;
	font-size: 1em;
	cursor: pointer;
	background-color: #ffffff;
	border-color: #B5B5B5;
	border-style: solid;
	border-width: 1px;
	color: #3C3C3C;
}

.loginButton:hover {
	color: #000;
	background-color: #F4F4F4;
}

.proccessCartBuy {
	font-weight: bold;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 25px;
	height: 20px;
	width: 150px;
	background-color: #D20808;
	border-color: #CBCBCB;
	border-style: solid;
	border-width: 1px;
}

.proccessCartBuy:hover {
	background-color: #FF4747;
}

.buyToOrder {
	text-align: right;
	margin: 30px 0
}

.cartEmpty {
	padding: 5px;
	font-size: 0.7em;
	cursor: pointer;
	background-color: #ffffff;
	border-color: #B5B5B5;
	border-style: solid;
	border-width: 1px;
	color: #3C3C3C;
}

.cartEmpty:hover {
    color: #000;
	background-color: #F4F4F4;
}

.registerLogin {
	display: table-cell;
	width: 480px;
	padding:43px;;
	margin-bottom: 50px;
}

.registerLogin a {
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}

.registerLoginButton {
	padding: 5px;
	font-size: 0.7em;
	cursor: pointer;
	background-color: #D20808;
	border-color: #CBCBCB;
	border-style: solid;
	border-width: 1px;
}

.registerLoginButton:hover {
 	background-color: #FF4747;
} 

.login {
	padding: 0;
	margin: 0;
}

.container-login {
	padding-top: 50px;
}

.registerButtonContainer {
	margin-left: 60px;
}